

<div class="col-md-6 offset-md-3 p-2 border bg-light">
    <h3>Add Employee</h3>
    
    <form (ngSubmit)="onSubmit()">
     <div class="form-group">
        <label>First Name</label>
        <input type="text" class="form-control" id="firstName"
        [(ngModel)]="firstName" name="firstName" placeholder="Enter the firstname">
     </div>
     <div class="form-group">
        <label>Last Name</label>
        <input type="text" class="form-control" id="lastName"
        [(ngModel)]="lastName" name="lastName" placeholder="Enter the lastname">
     </div>
     <div class="form-group">
        <label>Email</label>
        <input type="text" class="form-control" id="firstName"
        [(ngModel)]="emailId" name="firstName" placeholder="Enter the email">
     </div>
    <button class="btn btn-success" type="submit"> Submit</button>
    </form>
    </div>
